# Environnement de variables en local
PORT=5432
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=nadalawi
DB_NAME=biyashara
JWT_SECRET=c178c88b0d82f6bac25a886cc923b47f4b777d692bf9e17cbd458e9d7457c845
JWT_EXPIRES_IN=90d
CLOUDINARY_CLOUD_NAME=ddxypgvuh
CLOUDINARY_API_KEY=488847844755949
CLOUDINARY_API_SECRET=dpzVPC_sJ0FNIqJqUNOpr-WuM_E